* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 10px;
    font-family: 'Inter', sans-serif;
}
:root{
    --color-1:A6036D;
    --color-2:black;
    
}
